*{
    margin: 0;  
    padding: 0;
}
.main-section{
    background-image: url('../images/img3.jpeg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
.main-section-2{
    background: rgba(0,0,0,.7);
    height: 500px;
}
.main-section h1{
    color: #F1C40F;
    font-size: 80px;
    text-align: center;
    padding: 150px;
}
span{
    font-size: 30px;
    color: darkgreen;
}
.sp{
    font-size: 12px;
    color: red;
}
.para-1{
    font-weight: 900;
}
.main-container{
    display: flex;
}
.main-container .content{
    width: 33.33%;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 30px 10px #c6c6c6;
}
.main-container .content-1{
    width: 33.33%;
    margin: 20px;
    box-shadow: 0px 3px 30px 0px #c6c6c6;
}
.main-container .content-2{
    width: 33.33%;
    margin: 20px;
    box-shadow: 0px 3px 30px 10px #c6c6c6;
}
.main-container h4{
    color: blueviolet;
    margin: 10px;
}
.main-container p{
    margin: 10px;
}
